<html>

  <head>
    <title>美食綠洲</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <!--下面這段code是FB SDK-->
    <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '926686007872841',
            xfbml      : true,
            version    : 'v10.0'
          });

          FB.APPEvents.logPageView();
          fbsdkloaded();
        };
        (function(d, s, id){
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement(s); js.id = id;
           js.src = "//connect.facebook.net/en_US/sdk.js";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));
  </script>
  <script src='/fblogin.js'></script>

    <!--FB按鈕-->
    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
    <div id="status"></div>
    

    <div style="text-align:center;">
      <h1>美食綠洲</h1><p> 
      <h2>歡迎來到美食綠洲首頁</h2><p> 
      <div style='font-size:30px'>
        <a href='auth/facebook'>使用FACEBOOK登入</a>
      </div>
    </div>

  </body>
</html> 
