<!DOCTYPE html>
<html>
  <head>
    <title>美食綠洲</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div style="text-align:center;">
        <h1>美食綠洲</h1><p> 
        <h2>歡迎來到美食綠洲首頁</h2><p> 
        <div style='font-size:30px'>
          <a href='/auth/facebook'>使用FACEBOOK登入</a>
        </div>
      </div>
  </body>
</html>