<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div style="text-align:center;">
        <h1>美食綠洲</h1><p> 
        <h2>你登入了</h2><p> 
        <div style='font-size:30px'>
          <a href='/logout'>按此登出</a>
        </div>
      </div>
  </body>
</html>